/* Add some styles to make the page look polished */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf');
}
body {
  /* font-family: Arial, sans-serif; */
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.header {
  display: flex;
  align-items: center;
}
.header h1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header p {
  font-style: italic;
  margin-top: 20px;
  padding: 20px;
}
.header img {
  border-radius: 50%;
  height: 80px;
  margin-right: 20px;
}
.main-page .header {
  margin-bottom: 20px;
}
.blog-page .header {
  margin-bottom: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
ul li a i {
  color: #333;
  font-size: 18px;
}
ul li a:hover i {
  color: #0070c9;
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.nav li {
  margin-right: 20px;
}
.nav a {
  text-decoration: none;
  color: #333;
}
.nav a:hover {
  color: #0070c9;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
.content .section {
  width: 100%;
  margin-bottom: 20px;
}
.content .section:nth-of-type(odd) {
  background-color: #f5f5f5;
  padding: 20px;
}
.content h2 {
  font-size: 24px;
  margin: 0 0 20px 0;
}
.content p {
  margin: 0 0 20px 0;
  line-height: 1.5;
}
.content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content li {
  margin-bottom: 10px;
}
.content a {
  color: #0070c9;
}
.footer {
  margin-top: 20px;
  text-align: center;
  color: #333;
}
